---
layout: default
---

<!------------ Image Banner with Content ------------->
<section class="banner-pages grid-center">
  <div class="col-6-middle center">
    <h2 class="padded-2"> About Me</h2>
  </div>
</section>

<!----------- Introduction ----------->
<section class="grid-center padded">
  <div class="col-8_md-12-middle padded-2 left md-align">
    <p>My name is Maxine Thompson and I am a professionally accredited Hypnotherapist.</p>
    <p>I have been interested in Personal Development for a long time, training as a life coach way back in 2002/2003.</p>
    <p>In 2015 I became an accredited Mindset Coach with the Sue Stone Foundation and more recently trained with the Hampshire School of Hypnotherapy in Portsmouth.  I feel very privileged to have had Lorraine Gleeson as my Tutor and she will remain my mentor in the future, as continued professional development (CPD) is very important to my role.</p>
    <p>Part of my Diploma was qualifying as a Clinical Hypnotherapist, but I then also trained in Neuro Linquistic Programming (NLP) and Ideo Motor Response (IMR) to ensure your session is personal to you and encouraging/supporting the biggest shifts.  I am there for you, completely client-centred and solution focussed.</p>
    <p>My previous qualifications and experience in Life Coaching and Emotional Freedom Technique (EFT Tapping) all add to the wonderfully holistic ‘melting pot’ of tools I can use in your session and if suitable, will teach you to use yourself outside of the therapy room.</p>

  </div>
  <div class="col-4_md-8-middle padded-2 headshot">
    <!-- <img src="images/maxine-headshot.jpg" alt=""> -->
  </div>
</section>


<!---------- Sue Stone Recommendation ------------>
<section class="grid-center featured-bg">
  <div class="col-3 padded">
    <span class="quote-icon"> “ </span>
  </div>
  <div class="col-7_sm-9 padded">
    <p class="emphasis">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p> - Sue Stone </p>
  </div>
</section>

<!------------- Personal Note --------------->
<section class="grid-center">
  <div class="col-10_md-12 center padded">
    <p>A personal note from me about this passion of mine: As a parent of two wonderful adults, who suddenly found herself on her own after 25 years of marriage, I understand how difficult it can feel to start afresh later in life.  Your confidence takes a huge battering and you wonder if you will ever feel good about yourself again.  Let me help you find Your Sunshine Within.  You can be so much more.</p>
    <p>When life throws a curveball, look for the gift…  It might be hidden but there will always be one.  When you then think of the problem or the individual, if you can immediately focus on the gift instead, things start to change. I promise you that.</p>
  </div>
</section>

<!--------- Qualification Badges ----------->
{% include qualification-badges.html %}

<!-------- Contact Form/Call to Action ----------->
{% include get-in-touch.html %}
