---
Title: Your Sunshine Within - Home
layout: default
---

    <!------------ Image Banner with Content ------------->
    <section class="grid-center banner-main padded">
      <div class="col-4_md-8-middle center">
        <img class="logo-banner" src="images/ysw-logo-sm.png" alt="">
      </div>
      <div class="col-8_md-12-middle left md-align">
        <h2> Hypnotherapy in Chandler's Ford, Hampshire </h2>
        <p> Maxine Thompson is a professionally accredited Hypnotherapist who can work online anywhere in the world or in person from Chandler's Ford in Hampshire, UK. Whether its anxiety, a fear or phobia, weight concerns, or confidence issues, she can help you move forward and find your sunshine within. </p>
        <a href="contact.html" class="button"> Get in touch with me here </a>
      </div>
    </section>


    <!--------- Intro Section ------------->
    <section class="grid-center padded">
      <div class="col-4_md-12 center side-image mobile-hide"> </div>
      <div class="col-8_md-12 center padded-2">
        <h3>What is hypnotherapy and how can it help you?</h3>
        <p>Hypnotherapy has been quoted as <b>‘The best tool in the world for behavioural changes’</b>. It can help to move you forward in your life – in a variety of different areas.</p>
        <p>Sometimes you are unaware of what is holding you back, and a hypnotherapy session can help you to find out what is blocking you by accessing your mind on a subconscious level.</p>
        <p>You are never put into a trance (like you see on a stage show!) - I am not a theatrical hypnotist performing in front of an audience. I am a therapist and always have your best interest at the forefront of your session.</p>
        <p>You are always in control and you will never run around the therapy room bleating like a goat, or squatting to lay an egg! You cannot be made to say or do anything against your will or which goes against your personal values or beliefs.
        You will be able to relax in my calm and comfortable room, and allow yourself some well-deserved ‘me-time’.  It is a very safe therapy and has no side effects.</p>
        <p>Whether its anxiety, a fear or phobia, weight concerns, or confidence issues, I can help you move forward.  Exam, driving test or interview nerves can hamper you on the day – let me help you prepare and feel more confident in your ability.</p>
        <a href="about-hypnotherapy.html" class="button-2"> Learn more about Hypnotherapy here </a>
      </div>
    </section>


    <!----------- Bullet Point List   ------------>
    <section class= "center padded featured-bg">
      <h3> What hypnotherapy can help with </h3>
      <div class="grid-center padded-2">
        <div class="col-4_sm-6">
          <img class="illustration" src="images/feather.png" alt="">
          <h4> Anxiety or Depression </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/moon.png" alt="">
          <h4> Fears & Phobias </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/scales.png" alt="">
          <h4> Weight Concerns </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/moon.png" alt="">
          <h4> Bereavement </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/scales.png" alt="">
          <h4> Exam, Driving Test & Interview Nerves </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/feather.png" alt="">
          <h4> Habits </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/scales.png" alt="">
          <h4> Confidence </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/feather.png" alt="">
          <h4> Stress </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/moon.png" alt="">
          <h4> Sleep/Relaxation/Inner Calm </h4>
        </div>
      </div>
      <a class="button "href="treatments.html"> Find out more here </a>
    </section>



    <!-------------- Testimonials ------------->
    <section class="grid-center padded featured-bg">
      <h3> Testimonials</h3>
      <section class="quotes">
        <div class="bubble">
          <blockquote> Maxine is a very reassuring hypnotherapist. She listened to me and answered all my questions and concerns.  She put me at ease, making sure I felt safe, secure, comfortable and warm.  Maxine has a wonderful soothing voice which make the experience very relaxing.  She tailor-made the session to my specific needs to very good effect. I found Maxine to be an excellent hypnotherapist and would happily recommend her to everyone. </blockquote>
          <div></div>
          <cite> S Laurie.</cite> </div>

        <div class="bubble">
          <blockquote> I knew the theory of how to create a better life for myself, but Maxine simplified everything for me and helped me understand how to put it into practice, with excellent results. </blockquote>
          <div></div>
          <cite> C Gray </cite> </div>

        <div class="bubble">
          <blockquote> Maxine was amazing! Such a genuine and kind lady who put me at ease as soon as I met her. She helped with several deep-rooted issues from my past and has guided me to a much stronger place in life.  I can’t thank her enough. </blockquote>
          <div></div>
          <cite> M Holland </cite> </div>

        <div class="bubble">
          <blockquote>Maxine is very welcoming, felt very calm in her company and happy to completely relax. </blockquote>
          <div></div>
          <cite> J Apps </cite> </div>

          <div class="bubble">
            <blockquote>I really enjoyed my session with Maxine, she is very calming and reassuring and made me feel completely at ease with a sense of deep relaxation. I would highly recommend Maxine. </blockquote>
            <div></div>
            <cite> D Ashthorpe </cite> </div>

      </section>
    </section>
      <br><br><br>

    <section class="grid-center padded">
      <h3> Testimonials </h3>
      <div class="center slider">
        <div>
          <p>"Maxine is a very reassuring hypnotherapist. She listened to me and answered all my questions and concerns.  She put
            me at ease, making sure I felt safe, secure, comfortable and warm.  Maxine has a wonderful soothing voice which make the experience very relaxing.  She tailor-made the session to my specific needs to very good effect. I found Maxine to be an excellent hypnotherapist and would happily recommend her to everyone."  <b> - S Laurie </b> </p>
        </div>
        <div>
          <p>"I knew the theory of how to create a better life for myself, but Maxine simplified everything for me and helped me understand how to put it into practice, with excellent results" <b>- C Gray</b> </p>
        </div>
        <div>
          <p>"Maxine was amazing! Such a genuine and kind lady who put me at ease as soon as I met her. She helped with several deep-rooted issues from my past and has guided me to a much stronger place in life.  I can’t thank her enough." <b>- M Holland</b></p>
        </div>
        <div>
          <p>"Maxine is very welcoming, felt very calm in her company and happy to completely relax." <b>- J Apps</b></p>
        </div>
        <div>
          <p>"I really enjoyed my session with Maxine, she is very calming and reassuring and made me feel completely at ease with a sense of deep relaxation. I would highly recommend Maxine." <b>- D Ashthorpe</b></p>
        </div>
      </div>
    </section>


    <!--------- Qualification Badges ----------->
    {% include qualification-badges.html %}


    <!-------- Contact Form/Call to Action ----------->
    {% include get-in-touch.html %}
