---
Title: Your Sunshine Within - Home
layout: default
---

    <!------------ Image Banner with Content ------------->
    <section class="grid-center banner-main padded">
      <div class="col-4_md-8-middle center">
        <img class="logo-banner" src="images/your.png" alt="">
      </div>
      <div class="col-8_md-12-middle left md-align">
        <h2> Hypnotherapy in Chandler's Ford, Hampshire </h2>
        <p> Maxine Thompson is a professionally accredited Hypnotherapist who can work online anywhere in the world or in person from Chandler's Ford in Hampshire, UK. Whether its anxiety, a fear or phobia, weight concerns, or confidence issues, she can help you move forward and find your sunshine within. </p>
        <a href="contact.html" class="button"> Get in touch with me here </a>
      </div>
    </section>


    <!--------- Intro Section ------------->
    <section class="grid-center padded">
      <div class="col-8_md-12 center padded-2">
        <h3>What is hypnotherapy and how can it help you?</h3>
        <p>Hypnotherapy has been quoted as <b>‘The best tool in the world for behavioural changes’</b>. It can help to move you forward in your life – in a variety of different areas.</p>
        <p>Sometimes you are unaware of what is holding you back, and a hypnotherapy session can help you to find out what is blocking you by accessing your mind on a subconscious level.</p>
        <p>You are never put into a trance (like you see on a stage show!) - I am not a theatrical hypnotist performing in front of an audience. I am a therapist and always have your best interest at the forefront of your session.</p>
        <p>You are always in control and you will never run around the therapy room bleating like a goat, or squatting to lay an egg! You cannot be made to say or do anything against your will or which goes against your personal values or beliefs.
        You will be able to relax in my calm and comfortable room, and allow yourself some well-deserved ‘me-time’.  It is a very safe therapy and has no side effects.</p>
        <p>Whether its anxiety, a fear or phobia, weight concerns, or confidence issues, I can help you move forward.  Exam, driving test or interview nerves can hamper you on the day – let me help you prepare and feel more confident in your ability.</p>
        <a href="about-hypnotherapy.html" class="button-2"> Learn more about Hypnotherapy here </a>
      </div>
      <div class="col-4_md-12 center side-image mobile-hide"> </div>
    </section>


    <!----------- Bullet Point List   ------------>
    <section class= "center padded featured-bg">
      <h3> What hypnotherapy can help with </h3>
      <div class="grid-center padded-2">
        <div class="col-4_sm-6">
          <img class="illustration" src="images/feather.png" alt="">
          <h4> Anxiety or Depression </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/moon.png" alt="">
          <h4> Fears & Phobias </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/scales.png" alt="">
          <h4> Weight Concerns </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/moon.png" alt="">
          <h4> Bereavement </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/scales.png" alt="">
          <h4> Exam, Driving Test & Interview Nerves </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/feather.png" alt="">
          <h4> Habits </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/scales.png" alt="">
          <h4> Confidence </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/feather.png" alt="">
          <h4> Stress </h4>
        </div>
        <div class="col-4_sm-6">
          <img class="illustration" src="images/moon.png" alt="">
          <h4> Sleep/Relaxation/Inner Calm </h4>
        </div>
      </div>
      <a class="button "href="treatments.html"> Find out more here </a>
    </section>

    <!-- Another section -->
    <!-- <section class="grid-center padded">
      <div class="col-4_md-12 center side-image-2 mobile-hide"> </div>
      <div class="col-8_md-12 center padded-2">
        <h3> Something else to go here to break up the page </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a href="about-hypnotherapy.html" class="button-2"> Learn more about Hypnotherapy here </a>
      </div>
    </section> -->

    <!-------------- Testimonials ------------->
    {% include testimonial-slider.html %}

    <!--------- Qualification Badges ----------->
    {% include qualification-badges.html %}


    <!-------- Contact Form/Call to Action ----------->
    {% include get-in-touch.html %}
