<section class="center padded">
  <h3> Testimonials</h3>
  <p>I am always grateful for the feedback I recieve from many happy clients. You will find a selection of reviews below.</p>
  <section class="quotes">
    <div class="bubble">
      <blockquote> Maxine is a very reassuring hypnotherapist. She listened to me and answered all my questions and concerns.  She put me at ease, making sure I felt safe, secure, comfortable and warm.  Maxine has a wonderful soothing voice which make the experience very relaxing.  She tailor-made the session to my specific needs to very good effect. I found Maxine to be an excellent hypnotherapist and would happily recommend her to everyone. </blockquote>
      <div></div>
      <cite> S Laurie.</cite> </div>

    <div class="bubble">
      <blockquote> I knew the theory of how to create a better life for myself, but Maxine simplified everything for me and helped me understand how to put it into practice, with excellent results. </blockquote>
      <div></div>
      <cite> C Gray </cite> </div>

    <div class="bubble">
      <blockquote> Maxine was amazing! Such a genuine and kind lady who put me at ease as soon as I met her. She helped with several deep-rooted issues from my past and has guided me to a much stronger place in life.  I can’t thank her enough. </blockquote>
      <div></div>
      <cite> M Holland </cite> </div>

    <div class="bubble">
      <blockquote>Maxine is very welcoming, felt very calm in her company and happy to completely relax. </blockquote>
      <div></div>
      <cite> J Apps </cite> </div>

      <div class="bubble">
        <blockquote>I really enjoyed my session with Maxine, she is very calming and reassuring and made me feel completely at ease with a sense of deep relaxation. I would highly recommend Maxine. </blockquote>
        <div></div>
        <cite> D Ashthorpe </cite> </div>
  </section>
</section>
  <!-- <br><br><br> -->
